.categories {
  font-family: "SFProDisplay", sans-serif;
  width: 100%;
  .categoriesInner {
    padding: 80px 150px 80px 150px;
    .title {
      font-size: 42px;
      font-weight: 400;
      margin-bottom: 32px;
    }
    .cardSection {
      display: grid;
      grid-template-columns: repeat(6, auto);
      column-gap: 32px;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1867px) {
  .categories {
    .categoriesInner {
      .title {
        font-size: 36px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .categories {
    .categoriesInner {
      .title {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 1427px) {
  .categories {
    .categoriesInner {
      padding: 80px 100px;
    }
  }
}

@media screen and (max-width: 1327px) {
  .categories {
    .categoriesInner {
      padding: 80px 50px;
    }
  }
}

@media screen and (max-width: 1220px) {
  .categories {
    .categoriesInner {
      .cardSection {
        grid-template-columns: repeat(3, auto);
        row-gap: 42px;
      }
    }
  }
}

@media screen and (max-width: 855px) {
  .categories {
    .categoriesInner {
      padding: 80px 20px;
    }
  }
}

@media screen and (max-width: 635px) {
  .categories {
    .categoriesInner {
      padding: 64px 16px;
      justify-items: center;
      .cardSection {
        grid-template-columns: repeat(2, auto);
        row-gap: 25px;
      }
    }
  }
}

@media screen and (max-width: 330px) {
  .categories {
    .categoriesInner {
      .cardSection {
        grid-template-columns: repeat(1, auto);
      }
    }
  }
}
