@font-face {
    font-family: 'Epilogue';
    src: url('../../public/fonts/Epilogue.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
};

@font-face {
    font-family: 'SFProDispay';
    src: url('../../public/fonts/SFProDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
};

@font-face {
    font-family: 'SFProDispay';
    src: url('../../public/fonts/SFProDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
};

@font-face {
    font-family: 'SFProDispay';
    src: url('../../public/fonts/SFProDisplay-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
};

@font-face {
    font-family: 'SFProDispay';
    src: url('../../public/fonts/SFProDisplay-Ultralight.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}