:root {
    --color-light: #FFFFFF;

    --color-dark: #000000;
    --color-dark-banner: #211C24;
    
    --color-light-grey: #EDEDED;
    --color-light-grey1: #F5F5F5;
    --color-grey: #909090;
    --color-dark-grey: #353535;

    --color-red: #ff0000;
}
