.listItem {
  padding: 16px 0px 16px 0px;
  .link {
    color: var(--color-grey);
    text-decoration: none;
    font-size: 24px;
    transition: 0.3s;
    &:hover {
      color: var(--color-light);
    }
    &:active {
      color: var(--color-light);
    }
  }
}
@media screen and (max-width: 1867px) {
  .listItem {
    .link {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1020px) {
  .listItem {
    .link {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 735px) {
  .listItem {
    .link {
      font-size: 12px;
    }
  }
}
